{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
    <h4 style="text-align: right;">
        Welcome {{ user.last_name }} {{ user.first_name }}!!</h4>

    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div style="color:white">
            <div class="input-group">
                <div class="input-group-prepend">
                    {{ form.select_type_of_search }}
                    {{ form.search }}
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>

    <hr style="border-top: 3px double azure">

    {% for book in books %}
        <div class="card flex-md-row mb-4 box-shadow h-md-250" style="color: black">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success"
                        style="font-family: Arial,sans-serif">ISBN: {{ book.isbn }}</strong>
                <h3 class="mb-0">
                    <a class="text-dark">{{ book.title }}</a>
                </h3>
                <div class="mb-1 text-muted">{{ book.authors }}</div>
                <div class="mb-1 text-muted">Published On: {{ book.publish_date }}</div>
                <p class="card-text mb-auto text-warning" style="font-family: 'Comic Sans MS',cursive">Price:
                    ${{ book.price }}</p>
                <a href="#">Add to Cart</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" alt="Card image cap"
                 src="{% static book.image.url %}"  width="170px" height="200px">
        </div>
    {% endfor %}

{% endblock %}