{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
    <h4 style="text-align: right;">
        Welcome {{ user.last_name }} {{ user.first_name }}!!</h4>

    <form method="get" action="" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div style="color:white">
            <div class="input-group">
                <div class="input-group-prepend">
                    {{ form.select_type_of_search }}
                    {{ form.search }}
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>

    <hr style="border-top: 3px double azure">

    <h5 style="text-align: right">{{ object_list.count }} result{{ object_list.count|pluralize }} found.</h5>

    {% for book in object_list %}
        <div class="card flex-md-row mb-4 box-shadow h-md-250" style="color: black">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success"
                        style="font-family: Arial,sans-serif">ISBN: {{ book.isbn }}</strong>
                <h3 class="mb-0">
                    <a class="text-dark">{{ book.title }}</a>
                </h3>
                <div class="mb-1 text-muted">{{ book.authors }}</div>
                <div class="mb-1 text-muted">Published On: {{ book.publish_date }}</div>
                <p class="card-text mb-auto text-warning" style="font-family: 'Comic Sans MS',cursive">Price:
                    ${{ book.price }}</p>
                {% if book.stock == 0 %}
                    <span style="color: red;font-family: 'Comic Sans MS',cursive">Out of Stock</span>
                {% else %}
                    <span style="color: green;font-family: 'Comic Sans MS',cursive">In Stock ({{ book.stock }} Item{{ book.stock|pluralize }} Available)</span>
                {% endif %}
                <a href="#">Add to Cart</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" alt="Card image cap"
                 src="{% static book.image.url %}" width="170px" height="250px">
        </div>
    {% endfor %}

{% endblock %}

{% block cart-items-count %}

{% endblock %}

{% block cart-items %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Brief description</small>
        </div>
        <span class="text-muted">$12</span>
    </li>
{% endblock %}